body{
/*clears the default browser margin	*/
	margin: 0;
}

ul{
	/*clears the browser default padding*/
	padding: 0;
}


nav {
	background: grey;
	position: fixed;
	width: 100%;
	z-index: 9999;
/*clears spacing on top*/
	top: 0;
}

div{
	width:1170px;
	margin: 0 auto;
}


nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	padding: 1em;
	font-size: 20px;
	cursor: pointer;
}

nav img{
	float: left;
	height: 3rem;
	padding-top: .6rem;
	margin-left: 20rem;
}


header{
	background-image: url("../images/karmapic.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 46rem;
}

header h1{
	color: white;
	font-size: 3em;
	text-align: center;
	padding-top: 5em;
/*dont forget to style this*/
}

header h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    
}

h4{
	padding-left: 7rem;
}

header button{
	border-radius: 4px;
	width: 200px;
	height: 50px;
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	font-size: 20px; 
	margin:0 auto;
	display: block;
}

.icons {
	margin-top: 9rem;
}

section h2 {
    text-align: center;
    font-size: 50px;
}

section ul {}
section ul li {
    width: 33.3333333%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    height: 12em;
    margin-right: -4px;
}

section ul li img {
	height: 9rem;
	padding-left: 8rem;
}


hr{
	margin-top: 10rem;
}
section ul li h5 {
	text-align: center;
}

span{
	text-align: center;
}


footer {}

footer p {
    text-align: center;
}