/*to use for my chocie selector*/

.top-nav {
	background: grey;
	position: fixed;
	width: 100%;
}

.content{
	width:50%;
	height:4.25em;
	float: right;
	padding-right: 3em;
	display: inline-block;
}


.top-nav .links li{
	display: inline-block;
	padding:.5em;
	font-size: 20px;
}


.logo{
	width:2em;
	height: 2.5em;
	margin: .7em;
	padding: 0 0 0 30em;
}


.introduction{
	background-image: url("../images/karmapic.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46rem;
}


h1{
	color: white;
	font-size: 3.5em;
	text-align: center;
	padding-top: 5em;
}

h3{
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1em;
}

button{
	border-radius: 4px;
	width: 200px;
	height: 50px;
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	font-size: 20px; 
	margin:0 auto;
	display: block;


	
}

